
<div class="background">
<div class="main__container h-100 w-100 d-flex justify-content-center align-items-center">
  <div class="login-card">
    <main class="login-content">
    <form [formGroup]="loginForm" class="login-form">
      <h1> Sign In </h1>
      <br>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" id="form3Example3" >
      </mat-form-field></td>
    </tr></table>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" id="form3Example4" matInput placeholder="Password length of 8-32 characters">
      </mat-form-field></td>
    </tr></table>
    <div class="example-button-row">
      <button mat-fab extended color="primary" [disabled]="loginForm.invalid" type="button"(click)="check_Login()">
        <mat-icon>how_to_reg</mat-icon>
        Login
      </button>
      <button mat-fab extended color="white" (click)="register()">
        <mat-icon>person_add</mat-icon>
        Signup
      </button>
    </div>
    <br>
    <h3><a href="">forgot password?</a></h3>
  </form>
    </main>
</div>
</div>
</div>



  