<app-header></app-header>
<body>
<div class="container py-5">

  <!-- For demo purpose -->
  <div class="row text-center text-white mb-5">
    <div class="col-lg-7 mx-auto">
      <h1 class="display-4">{{ categoryData.category | uppercase }}</h1>
      <p class="lead mb-0">Total {{ totalItems }} Items</p>
    </div>
  </div>
  <!-- End -->

  <div class="row">
    <div class="col-lg-8 mx-auto">
        <!-- list group item-->
        <div *ngFor="let product of products">
        <li class="list-group-item">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">"{{product.title}}"</h5>
              <p class="font-italic text-muted mb-0 small">"{{product.description}}"</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 style="color: red;" class="font-weight-bold my-2">"{{product.price}} VND"</h6>
              </div>
            </div><img src="{{product.imageName }}">
          </div>
          <!-- End -->
        </li>
      </div>
      <!-- End -->
    </div>
  </div>
</div>
</body>
<app-footer></app-footer>
