
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="index.component.css">
</head>
<app-header></app-header>
<body>
     <div class="container">
         <div class="content">
             <h1>Apple <span class="style">Place</span></h1>
             <p>Nike, Inc. is an American multinational corporation that is <br>engaged in the design, development, manufacturing, and worldwide <br>marketing and sales of footwear, apparel, equipment, accessories,<br> and services. 
            </p> 
            <div class="text">
                <app-category (clickCategoryEvent)="onCategoryChange($event)" ></app-category>
                <div class="social-media">
                    <a href=""><i class="fa icons fa-facebook"></i></a>
                    <a href=""><i class="fa icons fa-instagram"></i></a>
                    <a href=""><i class="fa icons fa-twitter"></i></a>
                </div>
            </div>       
        </div>
     </div>
     <app-footer></app-footer>
</body>
</html>