<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="index.component.css">
    <title>Awesome Nike Shoe Landing Page</title>
</head>
<body>
     <div class="container">
         <div class="navbar">
            <img [src]="logoimg" alt="Image description" class="logo">

             <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Featured</a></li>
                    <li><a href="">Product</a></li>
                    <li><a href="">Explore</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
             </nav>
             <a href=""><i class="fa cart fa-cart-plus"></i></a>
         </div>
         <div class="content">
             <h1>Sneaker <span class="style">Place</span></h1>
<p>	We sell high-quality shoes for all occasions with a wide range of styles <br> and sizes to fit your needs.Our shoes are durable, comfortable, and stylish.<br> We provide excellent customer service to ensure your satisfaction.<br> Choose us for your go-to footwear destination.
</p> 
            <div class="text">
                <button class="btn">Buy Now</button>
                <div class="social-media">
                    <a href=""><i class="fa icons fa-facebook"></i></a>
                    <a href=""><i class="fa icons fa-instagram"></i></a>
                    <a href=""><i class="fa icons fa-twitter"></i></a>
                </div>
            </div>       
        </div>
        <img [src]="shoes" alt="shoes" class="image">
        <br>
        
     </div>
</body>
<app-footer></app-footer>
</html>